body{
background-image: url(font.jpg);  
background-size:100% 100%;
background-attachment: fixed;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: black;
}
.titu {
	top: 8%;
	position: absolute;
	left: 37%;
    font-size: 40px;
    font-variant: small-caps;
}
.conte{
	top: 5%;
	left: 20%;
	position: absolute;
	background-color: white;
	opacity: 0.5;
	border-radius: 5px;
	width: 60%;
	height: 216%;
}
.conter{
	position: absolute;
	left: 29%;
	top: 28%;

}
.bot{


 	text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #3B101B;
    border-radius: 6px;
    border: 1px solid #673733;
    margin: 3px;
 }
  .bot:hover{
 	color: #583936;
    background-color: #D0D3D4;
 }
.imag{
	position: absolute;
	opacity: none;
	height: 22%;
	border-radius: 5px;
	left: 22%;	
	width: 28%;
	margin: 2%;
}